<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/GameController.js"></script>
    <script>
    var socket = io();
    var player = '<%= name %>';
    var game = '<%= game %>';
    var controller;
    
    socket.emit('join_game', game, player);
    
    socket.on('game_joined', function (name) {
    	if (name === player) {
    		$('#opponent').html('Your opponent: ' + game);
    	} else {
    		$('#opponent').html('Your opponent: ' + name);
    	}
    	socket.emit('start_game', game);
    });
    
    socket.on('game_state', function (state) {
    	switch (state) {
    	case 'init':
    		controller = new GameController(10, 10, socket, game, player);
        controller.initialize();
        break;
    	case 'deploy':
    		controller.deploy('horizontal');
    		$('#message').html('Deploy your ships!<br> Use spacebar to change ship orientation.')
    		break;
    	case 'engage':
    		controller.myTurn = player === game; // Player who created the room goes first
    		if (controller.myTurn) {
    			$('#message').html('Your turn.')
    		} else {
    			$('#message').html('Opponent\'s turn.')
    		}
    		controller.engage();
    		break;
    	case 'win':
    		$('#message').html('<h2>You win!</h2>');
    		controller.gameOver();
    		break;
    	case 'lose':
    		$('#message').html('<h2>You lose!</h2>');
    		controller.gameOver();
    		break;
    	}
    });
    
    socket.on('ready', function () {
    	controller.enemyReady = true;
    });
    
    socket.on('fired', function (cell) {
    	if (controller.checkHit(cell)) {
    		$('#message').html('Opponent scored a hit!<br>Your turn.')
    	} else {
    		$('#message').html('Opponent missed!<br>Your turn.')
    	}
    });
    
    socket.on('was_hit', function (cell) {
    	controller.enemyHit(cell);
    	$('#message').html('Hit!<br>Opponent\'s turn.')
    });
    
    socket.on('missed', function (cell) {
    	controller.enemyMiss(cell);
    	$('#message').html('Miss!<br>Opponent\'s turn.')
    });
    
    socket.on('sunk', function (type) {
    	$('#message').html('Sunk enemy ' + type + '!<br>Opponent\'s turn.');
    });
    
    </script>
    
    
  </head>
  <body align="center">
    <h1>Battleship</h1>
    <h3><div id="opponent">Waiting for Opponent...</div></h3>
    <div id="message"></div>
    <div id="enemyBoard"></div>
    <div id="playerBoard"></div>
  </body>
</html>
