<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    var name = '<%= name %>';
    var game = '<%= game %>';
    
    socket.emit('joingame', game);
    
    socket.on('enemyclick', function (row, col) {
    	console.log('Row:', row, 'Col:', col);
    })
    </script>
    
    <script src="js/Game.js"></script>
  </head>
  <body align="center">
    <h1>Battleship</h1>
    <h3>Playing against: <%= game %></h3>
    <div id="board"></div>
    
  </body>
</html>
