<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/Game.js"></script>
    <script>
    var socket = io();
    var name = '<%= name %>';
    var game = '<%= game %>';
    
    socket.emit('join_game', game, name);
    
    socket.on('game_joined', function (name) {
    	$('#opponent').html('Your opponent: ' + name);
    	socket.emit('start_game', game);
    });
    
    socket.on('game_state', function(state) {
    	if (state === 'init') {
    		createGameBoard();
    	}
    });
    
    </script>
    
    
  </head>
  <body align="center">
    <h1>Battleship</h1>
    <h3><div id="opponent">Waiting for Opponent</div></h3>
    <div id="board"></div>
  </body>
</html>
