<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  
  <body align="center">
    <h1>Battleship</h1>
    <br>
    <form action="/lobby" method="post">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="submit" value="Play">
    </form>
  </body>
</html>
