<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io();
    
    socket.on('update_games', function (games) {
        $('#games').empty();
        $.each(games, function (key, value) {
        	if (value < 2) {
        		$('#games').append('<form action="/game" method="post"><input type="submit" name="game" value=' + key + '></form>');
        	}
        });
    });
    </script>
  </head>
  
  <body align="center">
    <h1>Battleship Game Lobby</h1>
    <br>
    <form action="/game" method="post">
      <input type="hidden" name="game" value=<%= name %>>
      <input type="submit" value="Create New Game">
    </form>
    <br>
    <br>
    <h3>Players Waiting for Opponent</h3>
    <div id="games">
      <% var gamesObj = JSON.parse(games) %>
      <% for (var key in gamesObj) { %>
        <% if (gamesObj.hasOwnProperty(key)) { %>
          <% if (gamesObj[key] < 2) { %>
            <form action="/game" method="post"><input type="submit" name="game" value=<%= key %>></form>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </body>
</html>
